li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    
}
button{
    border: none;
    cursor: pointer;
}
@media screen and (min-width:744px){
.container{
    width: 710px;
    margin: 0 auto;
}

@media screen and (min-width:1440px){
    .container{
        width: 1280px;
        margin: 0 auto;
    }
}
}
/* header */
.header{
    padding-top: 30px;
}
.header-list-link{
    display: none;
}
.header-list-img{
    display: none;
}
.header-list-link-nomber{
 font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color:#F4F2F1 ;
}
/* section-first */
.section-first{
    padding-top: 86px;
padding-bottom: 30px;
}
.section-first-title{
 font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 64px;
line-height: 140px;
letter-spacing: 0px;
color: #F4F2F1;
}
.section-first-text{
   font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #F4F2F1;
}
.section-first-btn{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 32px;
letter-spacing: 5%;
vertical-align: middle;
background-color: #FF3002;
color: #F4F2F1;
padding-left:103px;
padding-right:103px;
padding-top: 16px;
padding-bottom: 16px;

}
/* section-second */
.section-second{
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-second-title{
 font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
}
.section-second-text{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.5%;
color: #F4F2F1;
}
/* section-three */
.section-three{
    padding-bottom: 31px;
}
.section-three-title{
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
}
.abonements-list-duration{

font-family: Lato;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
padding-bottom:12px ;
}
.abonements-list-prise{
font-family: Lato;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #F4F2F1;
padding-bottom: 32px;
}
.abonements-list-second-duration{
font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
padding-bottom: 30px;
vertical-align: middle;
color: #F4F2F1;
max-width: 145px;
text-align: center;
}
.abonements-list-btn{
font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 32px;
letter-spacing: 0%;
vertical-align: middle;
color: #F4F2F1;
background-color: #FF3002;
padding-left:15px ;
padding-right: 15px;
padding-bottom:px 8px;
border-radius: 5px;
gap: 10px;

}
.abonements-list-item{
    background-color: #43484DB2;
padding-left:5px;
padding-right:8px;
padding-bottom:20px;
padding-top:10px;
max-width: 163px;
border-radius: 5px;
text-align: center;
}
.abonements-list-div{
display: flex;
justify-content: center;
flex-wrap:wrap;
column-gap: 17px;
row-gap: 20px;
max-width: 343px;
margin: 0 auto;
/* outline: 2px solid black ; */
}
.abonements-list-duration-disposable{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: #F4F2F1;
}
.abonements-list-item-second{
    max-width: 344px;
    text-align: center;
    margin-top: 19.57px;
    border-radius: 5px;
}
.abonements-list-item-second-div{
    /* outline: 2px solid black; */
    max-width: 344px;
    margin: 0 auto;
}
.abonements-list-div-text{
    display: flex;
justify-content: center;
    column-gap:5px;
}
.abonements-list-prise-second{
    font-family: Lato;
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: #F4F2F1;
}
/* sport-bar */
.sport-bar{
   padding-top: 40px; 
   padding-bottom: 40px;
}
.sport-bar-title{
   font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
}
.sport-bar-list-btn{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #F4F2F1;
}
.sportbar-list-product-title{
   font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
 color: #000000;
}
.sportbar-list-product-text{
    font-family: Lato;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: #FF3002;
}
.sportbar-list-product-btn{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5%;
text-align: center;
vertical-align: middle;
color: #FF3002;
}
/* gelery */
.gelery{
    padding-bottom: 167.5px;
}
.gelery-text{
   font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
 color: #F4F2F1;
}
/* contacts */
.contacts{
    padding-top: 40px;
}
.contacts-text{
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
}
.contacts-list-item{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #F4F2F1;
}
.contacts-list-tel{
    display: none;
}
.contacts-list-adr{
    display: none;
}
.contacts-list-mode{
    display: none;
}
/* footer */
.footer-list-item{
    display: none;
}
.footer-list-second-item{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color: #F4F2F1;
}