.header-list-link{
    display: none;
}
.header-list-img{
    display: none;
}
.header-list-link-nomber{
 font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color:#F4F2F1 ;
}
.section-first-title{
 font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 64px;
line-height: 140px;
letter-spacing: 0px;
color: #F4F2F1;
}
.section-first-text{
   font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #F4F2F1;
}
.section-first-btn{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 32px;
letter-spacing: 5%;
vertical-align: middle;
background-color: #FF3002;
color: #F4F2F1;
padding-left:103px;
padding-right:103px;
padding-top: 16px;
padding-bottom: 16px;
}
.section-second-title{
 font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
}
.section-second-text{
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.5%;
color: #F4F2F1;
}
.section-three-title{
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 48px;
letter-spacing: 0px;
vertical-align: middle;
color: #F4F2F1;
}